Granjas.json
[{"id":"78d918a6.6eabf8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d39b837.b3e8e8","type":"inject","z":"78d918a6.6eabf8","name":"read","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":80,"wires":[["b33a2e33.8ff5f"]]},{"id":"f7975f28.6641","type":"file in","z":"78d918a6.6eabf8","name":"routes","filename":"/Users/santiagoruiz/Desktop/Rutas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":230,"y":120,"wires":[["63f11fa.1cd7fe"]]},{"id":"63f11fa.1cd7fe","type":"xml","z":"78d918a6.6eabf8","name":"","property":"payload","attr":"","chr":"","x":350,"y":120,"wires":[["aca4f2ba.6ce48"]]},{"id":"aca4f2ba.6ce48","type":"function","z":"78d918a6.6eabf8","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":540,"y":120,"wires":[]},{"id":"b33a2e33.8ff5f","type":"file in","z":"78d918a6.6eabf8","name":"farms","filename":"/Users/santiagoruiz/Desktop/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":230,"y":80,"wires":[["4258d0bc.49aed"]]},{"id":"4258d0bc.49aed","type":"xml","z":"78d918a6.6eabf8","name":"","property":"payload","attr":"","chr":"","x":350,"y":80,"wires":[["2ee88dbf.e52e92"]]},{"id":"2ee88dbf.e52e92","type":"function","z":"78d918a6.6eabf8","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["f7975f28.6641"]]},{"id":"545fc74f.0dc858","type":"function","z":"78d918a6.6eabf8","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 16\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Almar\",\n    \"area\": msg.payload.area,\n    \"color\": \"blue\",\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["b913c5a1.d5faf8"]]},{"id":"3d8bb169.669fbe","type":"worldmap in","z":"78d918a6.6eabf8","name":"","path":"/map/farm1","events":"all","x":80,"y":200,"wires":[["ce9965fb.570658"]]},{"id":"b913c5a1.d5faf8","type":"ui_worldmap","z":"78d918a6.6eabf8","group":"989ce317.cee99","order":5,"width":8,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":910,"y":220,"wires":[]},{"id":"ce9965fb.570658","type":"switch","z":"78d918a6.6eabf8","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":200,"wires":[["12957b9c.1988b4"]]},{"id":"d989b73a.378398","type":"ui_button","z":"78d918a6.6eabf8","name":"","group":"989ce317.cee99","order":3,"width":8,"height":1,"passthru":true,"label":"Cargar","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["12957b9c.1988b4","4ee378de.85d538"]]},{"id":"9b9d3919.802388","type":"function","z":"78d918a6.6eabf8","name":"update cows","func":"farms = flow.get(\"farms\");\ng = flow.get(\"vargranja\")\nfarm = farms[g];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["b913c5a1.d5faf8"]]},{"id":"4b5f0446.3b9f1c","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"mas_gener","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":440,"wires":[["784cfd3f.65f0d4"]]},{"id":"17d8b71c.b85bc9","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"can_siset","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":480,"wires":[["784cfd3f.65f0d4"]]},{"id":"55628b4.9e15274","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"mas_almar","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":520,"wires":[["784cfd3f.65f0d4"]]},{"id":"d622c789.827ff8","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"mas_badosa","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":130,"y":560,"wires":[["784cfd3f.65f0d4"]]},{"id":"310157c5.baa188","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"mas_colom","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":600,"wires":[["784cfd3f.65f0d4"]]},{"id":"784cfd3f.65f0d4","type":"function","z":"78d918a6.6eabf8","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":400,"y":520,"wires":[]},{"id":"12957b9c.1988b4","type":"function","z":"78d918a6.6eabf8","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"vargranja\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["545fc74f.0dc858","9b9d3919.802388"]]},{"id":"58570066.7415b","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vargranja","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":360,"wires":[[]]},{"id":"74a9080d.8461a8","type":"ui_dropdown","z":"78d918a6.6eabf8","name":"","label":"","tooltip":"","place":"Select option","group":"989ce317.cee99","order":1,"width":8,"height":1,"passthru":true,"options":[{"label":"Mas Gener","value":"mas_gener","type":"str"},{"label":"Can Siset","value":"can_siset","type":"str"},{"label":"Mas Almar","value":"mas_almar","type":"str"},{"label":"Mas Badosa","value":"mas_badosa","type":"str"},{"label":"Mas Colom","value":"mas_colom","type":"str"}],"payload":"","topic":"","x":90,"y":360,"wires":[["58570066.7415b"]]},{"id":"a56b3f51.51d27","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":300,"wires":[["9b9d3919.802388"]]},{"id":"70f08ed3.62ebd","type":"comment","z":"78d918a6.6eabf8","name":"Maps configuration","info":"","x":110,"y":20,"wires":[]},{"id":"aec74685.a58088","type":"comment","z":"78d918a6.6eabf8","name":"Farm Data","info":"","x":80,"y":680,"wires":[]},{"id":"3dc9ec6.b771b14","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":780,"wires":[["7d8db899.3a4c18","5bf3e1c7.8518","18b4bf0d.7a6e31","3d0895fa.cce90a"]]},{"id":"7d8db899.3a4c18","type":"random","z":"78d918a6.6eabf8","name":"","low":"25","high":"35","inte":"true","property":"payload","x":400,"y":780,"wires":[["a18275d0.93d4e8"]]},{"id":"5bf3e1c7.8518","type":"random","z":"78d918a6.6eabf8","name":"","low":"50","high":"70","inte":"true","property":"payload","x":400,"y":820,"wires":[["598d95fc.40afbc"]]},{"id":"18b4bf0d.7a6e31","type":"random","z":"78d918a6.6eabf8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":400,"y":860,"wires":[["b9589cca.23835"]]},{"id":"3d0895fa.cce90a","type":"random","z":"78d918a6.6eabf8","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":900,"wires":[["ea208416.01da38"]]},{"id":"a18275d0.93d4e8","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_gener.Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":780,"wires":[[]]},{"id":"598d95fc.40afbc","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_gener.Hum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":820,"wires":[[]]},{"id":"b9589cca.23835","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_gener.Leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":860,"wires":[[]]},{"id":"ea208416.01da38","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_gener.Valla","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":900,"wires":[[]]},{"id":"5639cb23.9c0ce4","type":"link in","z":"78d918a6.6eabf8","name":"","links":["4ee378de.85d538"],"x":55,"y":1780,"wires":[["83310351.e91bc"]]},{"id":"4ee378de.85d538","type":"link out","z":"78d918a6.6eabf8","name":"","links":["5639cb23.9c0ce4"],"x":280,"y":280,"wires":[]},{"id":"9574006d.8223","type":"ui_text","z":"78d918a6.6eabf8","group":"989ce317.cee99","order":2,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"> Temperatura: </i>","format":"<font color= {{msg.color}} > {{msg.payload.Temp}}ºC </font>","layout":"row-spread","x":960,"y":1740,"wires":[],"icon":"font-awesome/fa-thermometer-3"},{"id":"f01e754a.d5c928","type":"ui_text","z":"78d918a6.6eabf8","group":"989ce317.cee99","order":4,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"> Humedad:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Hum}}% </font>","layout":"row-spread","x":930,"y":1780,"wires":[],"icon":"font-awesome/fa-spinner"},{"id":"3e4f361d.759efa","type":"ui_text","z":"78d918a6.6eabf8","group":"989ce317.cee99","order":6,"width":8,"height":1,"name":"","label":"<i class= \"fa fa-tint\" aria-hidden=\"true\"> Cantidad de Leche:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Leche}} L</font>","layout":"row-spread","x":930,"y":1820,"wires":[],"icon":"font-awesome/fa-hourglass-3"},{"id":"9c18c6ff.f59d68","type":"ui_text","z":"78d918a6.6eabf8","group":"989ce317.cee99","order":7,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-object-ungroup\" aria-hidden=\"true\"> Estado de Valla:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Valla}} </font>","layout":"row-spread","x":960,"y":1860,"wires":[],"icon":"font-awesome/fa-object-ungroup","info":"<font color= {{msg.color}} > {{msg.payload.Valla}} </font>"},{"id":"83310351.e91bc","type":"function","z":"78d918a6.6eabf8","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"vargranja\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1780,"wires":[["f4a5deb2.9abed","5e5f0be6.fc0f54","aab4a6b9.f36408","290fda78.908a46"]]},{"id":"5595fd05.2f15b4","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1000,"wires":[["1e7438fa.1f5a17","72873a26.8271d4","7c1ea622.5f0688","cf85bb03.bd1728"]]},{"id":"1e7438fa.1f5a17","type":"random","z":"78d918a6.6eabf8","name":"","low":"25","high":"35","inte":"true","property":"payload","x":400,"y":960,"wires":[["84ce0ef2.a8b09"]]},{"id":"72873a26.8271d4","type":"random","z":"78d918a6.6eabf8","name":"","low":"50","high":"70","inte":"true","property":"payload","x":400,"y":1000,"wires":[["a51e3ddd.063d1"]]},{"id":"7c1ea622.5f0688","type":"random","z":"78d918a6.6eabf8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":400,"y":1040,"wires":[["8ec94d5e.a4141"]]},{"id":"cf85bb03.bd1728","type":"random","z":"78d918a6.6eabf8","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":1080,"wires":[["845f1d5f.8c91"]]},{"id":"84ce0ef2.a8b09","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.can_siset.Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":960,"wires":[[]]},{"id":"a51e3ddd.063d1","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.can_siset.Hum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1000,"wires":[[]]},{"id":"8ec94d5e.a4141","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.can_siset.Leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1040,"wires":[[]]},{"id":"845f1d5f.8c91","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.can_siset.Valla","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1080,"wires":[[]]},{"id":"5b36baa3.e6a8d4","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1180,"wires":[["b4be0375.6ecd3","a7888ecd.665ee","b957e155.0972d","975f8080.5bb34"]]},{"id":"b4be0375.6ecd3","type":"random","z":"78d918a6.6eabf8","name":"","low":"25","high":"35","inte":"true","property":"payload","x":400,"y":1140,"wires":[["b21b9e69.b9a75"]]},{"id":"a7888ecd.665ee","type":"random","z":"78d918a6.6eabf8","name":"","low":"50","high":"70","inte":"true","property":"payload","x":400,"y":1180,"wires":[["80cd314b.91ae7"]]},{"id":"b957e155.0972d","type":"random","z":"78d918a6.6eabf8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":400,"y":1220,"wires":[["6444d6ad.c07ca8"]]},{"id":"975f8080.5bb34","type":"random","z":"78d918a6.6eabf8","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":1260,"wires":[["a598bc82.7cb9b"]]},{"id":"b21b9e69.b9a75","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_almar.Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1140,"wires":[[]]},{"id":"80cd314b.91ae7","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_almar.Hum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1180,"wires":[[]]},{"id":"6444d6ad.c07ca8","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_almar.Leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[[]]},{"id":"a598bc82.7cb9b","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_almar.Valla","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1260,"wires":[[]]},{"id":"8f88ee9d.1a3ff","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1320,"wires":[["fec36574.46f338","9fcf8af0.ca1108","6425cc0a.ee0084","2d8d6b1b.0298b4"]]},{"id":"fec36574.46f338","type":"random","z":"78d918a6.6eabf8","name":"","low":"25","high":"35","inte":"true","property":"payload","x":400,"y":1320,"wires":[["bd9aa6a9.912008"]]},{"id":"9fcf8af0.ca1108","type":"random","z":"78d918a6.6eabf8","name":"","low":"50","high":"70","inte":"true","property":"payload","x":400,"y":1360,"wires":[["ecb8faf9.7245d8"]]},{"id":"6425cc0a.ee0084","type":"random","z":"78d918a6.6eabf8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":400,"y":1400,"wires":[["d85db713.272a18"]]},{"id":"2d8d6b1b.0298b4","type":"random","z":"78d918a6.6eabf8","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":1440,"wires":[["32c3f60d.1a7f4a"]]},{"id":"bd9aa6a9.912008","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1320,"wires":[[]]},{"id":"ecb8faf9.7245d8","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Hum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1360,"wires":[[]]},{"id":"d85db713.272a18","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1400,"wires":[[]]},{"id":"32c3f60d.1a7f4a","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Valla","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1440,"wires":[[]]},{"id":"be5b215d.74663","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1500,"wires":[["cb93aee7.7a1dd","4ad65eb.e23e4a","2d0189c5.514916","c86e5230.f03ea"]]},{"id":"cb93aee7.7a1dd","type":"random","z":"78d918a6.6eabf8","name":"","low":"25","high":"35","inte":"true","property":"payload","x":400,"y":1500,"wires":[["ad15ad30.e2eab"]]},{"id":"4ad65eb.e23e4a","type":"random","z":"78d918a6.6eabf8","name":"","low":"50","high":"70","inte":"true","property":"payload","x":400,"y":1540,"wires":[["8b600bdc.ac2c88"]]},{"id":"2d0189c5.514916","type":"random","z":"78d918a6.6eabf8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":400,"y":1580,"wires":[["caf94fd9.4efb"]]},{"id":"c86e5230.f03ea","type":"random","z":"78d918a6.6eabf8","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":1620,"wires":[["96530faf.fe839"]]},{"id":"ad15ad30.e2eab","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_colom.Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1500,"wires":[[]]},{"id":"8b600bdc.ac2c88","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_colom.Hum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1540,"wires":[[]]},{"id":"caf94fd9.4efb","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_colom.Leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1580,"wires":[[]]},{"id":"96530faf.fe839","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"farms.mas_colom.Valla","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1620,"wires":[[]]},{"id":"f4a5deb2.9abed","type":"function","z":"78d918a6.6eabf8","name":"","func":"msg.color = \"green\"\nif(msg.payload.Temp > 30){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1740,"wires":[["9574006d.8223"]]},{"id":"5e5f0be6.fc0f54","type":"function","z":"78d918a6.6eabf8","name":"","func":"msg.color = \"green\"\nif(msg.payload.Hum > 60){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1780,"wires":[["f01e754a.d5c928"]]},{"id":"aab4a6b9.f36408","type":"function","z":"78d918a6.6eabf8","name":"","func":"msg.color = \"green\"\nif(msg.payload.Leche < 5){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1820,"wires":[["3e4f361d.759efa"]]},{"id":"290fda78.908a46","type":"function","z":"78d918a6.6eabf8","name":"","func":"if(msg.payload.Valla == 1){\nmsg.payload.Valla = \"NOK\"\nmsg.color = \"red\"\n}else{\n    msg.payload.Valla = \"OK\"\n    msg.color = \"green\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1860,"wires":[["9c18c6ff.f59d68"]]},{"id":"bea08da7.a0ed4","type":"comment","z":"78d918a6.6eabf8","name":"Data display","info":"","x":130,"y":1680,"wires":[]},{"id":"cbf3a12e.e7021","type":"comment","z":"78d918a6.6eabf8","name":"Cow's Data","info":"","x":130,"y":1960,"wires":[]},{"id":"f33f5633.6ad278","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2180,"wires":[["343e962a.dcb94a","5ed43d53.bd2eb4","896ae5c7.778cc8","4c424f38.adb66"]]},{"id":"343e962a.dcb94a","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":2180,"wires":[["b32b9726.de3378"]]},{"id":"5ed43d53.bd2eb4","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":2220,"wires":[["7614f308.380bec"]]},{"id":"896ae5c7.778cc8","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":2260,"wires":[["3683cb4a.038a94"]]},{"id":"4c424f38.adb66","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":2300,"wires":[["205b0ca3.e0bb24"]]},{"id":"b32b9726.de3378","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca1.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2180,"wires":[["741b2038.22de3"]]},{"id":"7614f308.380bec","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca1.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2220,"wires":[[]]},{"id":"3683cb4a.038a94","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca1.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2260,"wires":[[]]},{"id":"205b0ca3.e0bb24","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca1.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2300,"wires":[[]]},{"id":"378da3da.f5f7fc","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2380,"wires":[["3b853c38.1ea4a4","d77891b7.08981","12d0a7fd.4827b8","801a928b.e5719"]]},{"id":"3b853c38.1ea4a4","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":2380,"wires":[["f04fd8c5.1afa08"]]},{"id":"d77891b7.08981","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":2420,"wires":[["bbc2fd97.735c9"]]},{"id":"12d0a7fd.4827b8","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":2460,"wires":[["1930daa6.628355"]]},{"id":"801a928b.e5719","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":2500,"wires":[["62216b82.441a24"]]},{"id":"f04fd8c5.1afa08","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca2.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2380,"wires":[["d9980564.320e38"]]},{"id":"bbc2fd97.735c9","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca2.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2420,"wires":[[]]},{"id":"1930daa6.628355","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca2.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2460,"wires":[[]]},{"id":"62216b82.441a24","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca2.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2500,"wires":[[]]},{"id":"46a9d18d.9638f","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2560,"wires":[["aad7661d.8605b8","307d53b8.d6a71c","9b31127.29209f","8bdb9964.9fb298"]]},{"id":"aad7661d.8605b8","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":2560,"wires":[["4db001a0.63e19"]]},{"id":"307d53b8.d6a71c","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":2600,"wires":[["7a588378.ec98bc"]]},{"id":"9b31127.29209f","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":2640,"wires":[["107b3a50.16cb46"]]},{"id":"8bdb9964.9fb298","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":2680,"wires":[["7f13b82a.e15458"]]},{"id":"4db001a0.63e19","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca3.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2560,"wires":[["e47e23e6.3746f"]]},{"id":"7a588378.ec98bc","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca3.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2600,"wires":[[]]},{"id":"107b3a50.16cb46","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca3.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2640,"wires":[[]]},{"id":"7f13b82a.e15458","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca3.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2680,"wires":[[]]},{"id":"74ef2637.9a38c8","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2740,"wires":[["ac38674f.ddc0f8","97c8809e.a792c","38e7b806.f59c58","4a6f77cb.35c218"]]},{"id":"ac38674f.ddc0f8","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":2740,"wires":[["6a472432.355e2c"]]},{"id":"97c8809e.a792c","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":2780,"wires":[["1c759079.9f318"]]},{"id":"38e7b806.f59c58","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":2820,"wires":[["a6bd29a1.7890b8"]]},{"id":"4a6f77cb.35c218","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":2860,"wires":[["586251c5.fd085"]]},{"id":"6a472432.355e2c","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca4.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2740,"wires":[["9cfb4fa6.b097c"]]},{"id":"1c759079.9f318","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca4.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2780,"wires":[[]]},{"id":"a6bd29a1.7890b8","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca4.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2820,"wires":[[]]},{"id":"586251c5.fd085","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca4.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2860,"wires":[[]]},{"id":"5e3d9f7.73d9f6","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2920,"wires":[["360c8ad7.e44bb6","fc939f9e.fd16e","b03ef4f5.92ca98","6dc24643.705458"]]},{"id":"360c8ad7.e44bb6","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":2920,"wires":[["f1ccfa6.b10b108"]]},{"id":"fc939f9e.fd16e","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":2960,"wires":[["ffafdb3a.e31788"]]},{"id":"b03ef4f5.92ca98","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":3000,"wires":[["335d9988.aa8d56"]]},{"id":"6dc24643.705458","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":3040,"wires":[["4855b30a.06d9cc"]]},{"id":"f1ccfa6.b10b108","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca5.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2920,"wires":[["227dfa1.e975606"]]},{"id":"ffafdb3a.e31788","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca5.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2960,"wires":[[]]},{"id":"335d9988.aa8d56","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca5.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3000,"wires":[[]]},{"id":"4855b30a.06d9cc","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca5.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3040,"wires":[[]]},{"id":"f44d2a0f.f1d208","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":3100,"wires":[["9f8c8eb5.be3b9","4becf441.0edd7c","9252ba8c.d301f8","2ecdf7ef.b8ddb8"]]},{"id":"9f8c8eb5.be3b9","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":3100,"wires":[["47491bf8.64c884"]]},{"id":"4becf441.0edd7c","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":3140,"wires":[["69131401.c6867c"]]},{"id":"9252ba8c.d301f8","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":3180,"wires":[["3aafce2a.b0fe02"]]},{"id":"2ecdf7ef.b8ddb8","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":3220,"wires":[["5e136e1c.01285"]]},{"id":"47491bf8.64c884","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca6.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3100,"wires":[["d1fb4158.07f9d"]]},{"id":"69131401.c6867c","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca6.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3140,"wires":[[]]},{"id":"3aafce2a.b0fe02","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca6.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3180,"wires":[[]]},{"id":"5e136e1c.01285","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca6.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3220,"wires":[[]]},{"id":"522f2a6d.d540f4","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":3280,"wires":[["f45b1df0.da63f","a097860e.272d98","ea9d0b5.bc182f8","b0f514b.57927e8"]]},{"id":"f45b1df0.da63f","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":3280,"wires":[["97ec5324.fdb3c"]]},{"id":"a097860e.272d98","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":3320,"wires":[["94834811.2b8508"]]},{"id":"ea9d0b5.bc182f8","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":3360,"wires":[["1ef0ce3c.20b862"]]},{"id":"b0f514b.57927e8","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":3400,"wires":[["c84cf0e.e19361"]]},{"id":"97ec5324.fdb3c","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca7.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3280,"wires":[["107d2b43.e04fa5"]]},{"id":"94834811.2b8508","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca7.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3320,"wires":[[]]},{"id":"1ef0ce3c.20b862","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca7.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3360,"wires":[[]]},{"id":"c84cf0e.e19361","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca7.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3400,"wires":[[]]},{"id":"5905ca97.8a7f64","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":3460,"wires":[["a1c60be8.ec8338","3bd19786.e883c8","2b2eb763.479d58","53625687.e799c8"]]},{"id":"a1c60be8.ec8338","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":3460,"wires":[["bf27ae8.715be5"]]},{"id":"3bd19786.e883c8","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":3500,"wires":[["27851cff.02b484"]]},{"id":"2b2eb763.479d58","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":3540,"wires":[["65df6293.ea460c"]]},{"id":"53625687.e799c8","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":3580,"wires":[["d5d4eb2f.4793f8"]]},{"id":"bf27ae8.715be5","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca8.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3460,"wires":[["6681e2bd.54611c"]]},{"id":"27851cff.02b484","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca8.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3500,"wires":[[]]},{"id":"65df6293.ea460c","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca8.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3540,"wires":[[]]},{"id":"d5d4eb2f.4793f8","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca8.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3580,"wires":[[]]},{"id":"436d5137.898d8","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":3660,"wires":[["ef7867b2.58dac8","4821d5c9.21491c","f1be76ad.dd7058","d4d0f6da.c94198"]]},{"id":"ef7867b2.58dac8","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":3660,"wires":[["85016f41.5af9f"]]},{"id":"4821d5c9.21491c","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":3700,"wires":[["bbe7cb5.d3dd438"]]},{"id":"f1be76ad.dd7058","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":3740,"wires":[["109f813d.310b9f"]]},{"id":"d4d0f6da.c94198","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":3780,"wires":[["b7ff9f5a.04dee"]]},{"id":"85016f41.5af9f","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca9.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3660,"wires":[["70094460.9c59cc"]]},{"id":"bbe7cb5.d3dd438","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca9.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3700,"wires":[[]]},{"id":"109f813d.310b9f","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca9.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3740,"wires":[[]]},{"id":"b7ff9f5a.04dee","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca9.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3780,"wires":[[]]},{"id":"57054e3c.77657","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":3840,"wires":[["555fec7a.5e5fc4","6a42ead0.c65064","3a2e14c8.1d9b8c","3dd9cac5.96f756"]]},{"id":"555fec7a.5e5fc4","type":"random","z":"78d918a6.6eabf8","name":"temperatura","low":"35","high":"40","inte":"true","property":"payload","x":310,"y":3840,"wires":[["925b152b.c73698"]]},{"id":"6a42ead0.c65064","type":"random","z":"78d918a6.6eabf8","name":"leche","low":"1","high":"40","inte":"true","property":"payload","x":290,"y":3880,"wires":[["977ec872.610228"]]},{"id":"3a2e14c8.1d9b8c","type":"random","z":"78d918a6.6eabf8","name":"peso","low":"300","high":"450","inte":"true","property":"payload","x":290,"y":3920,"wires":[["952af520.892a98"]]},{"id":"3dd9cac5.96f756","type":"random","z":"78d918a6.6eabf8","name":"Distancia","low":"1","high":"5","inte":"true","property":"payload","x":300,"y":3960,"wires":[["f2501fe0.15f75"]]},{"id":"925b152b.c73698","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca10.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3840,"wires":[["65c443e7.8568fc"]]},{"id":"977ec872.610228","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca10.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3880,"wires":[[]]},{"id":"952af520.892a98","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca10.peso","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3920,"wires":[[]]},{"id":"f2501fe0.15f75","type":"change","z":"78d918a6.6eabf8","name":"","rules":[{"t":"set","p":"vaca10.dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3960,"wires":[[]]},{"id":"741b2038.22de3","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=1\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2180,"wires":[[]]},{"id":"d9980564.320e38","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=2\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2380,"wires":[[]]},{"id":"e47e23e6.3746f","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=3\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2560,"wires":[[]]},{"id":"9cfb4fa6.b097c","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=4\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2740,"wires":[[]]},{"id":"227dfa1.e975606","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=5\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":2920,"wires":[[]]},{"id":"d1fb4158.07f9d","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=6\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3100,"wires":[[]]},{"id":"107d2b43.e04fa5","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=7\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3280,"wires":[[]]},{"id":"6681e2bd.54611c","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=8\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3460,"wires":[[]]},{"id":"70094460.9c59cc","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=9\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3660,"wires":[[]]},{"id":"65c443e7.8568fc","type":"function","z":"78d918a6.6eabf8","name":"Alarma","func":"let v=\"vaca\"\nlet n=10\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(hum>70){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(350>peso>400){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nif(dist<3){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3840,"wires":[[]]},{"id":"9af95f52.a7d2d","type":"function","z":"78d918a6.6eabf8","name":"","func":"let arr=[]\nl=10\naux={\n    \"temp\":\"\",\n    \"leche\":\"\",\n    \"peso\":\"\",\n    \"dist\":\"\",\n    \"estado\":\"\",\n    \"numero\":\"\"\n}\nfor(let i=1;i<=10;i++){\n   v=flow.get(\"vaca\"+i)\n   v.numero=i\n   if(v.estado==\"NOK\"){\n    \n   arr.push(v)\n   }\n}\nla=l-arr.length\nif(la>0){\n    for(let i = 0; i<la; i++){\n    arr.push(aux)\n    }\n}\n\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":4020,"wires":[["af7acadd.5591d8"]]},{"id":"8a4505b0.b546c8","type":"inject","z":"78d918a6.6eabf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":4020,"wires":[["9af95f52.a7d2d"]]},{"id":"af7acadd.5591d8","type":"ui_table","z":"78d918a6.6eabf8","group":"989ce317.cee99","name":"","order":9,"width":8,"height":4,"columns":[{"field":"numero","title":"Numero de Vaca","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"estado","title":"Estado","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":510,"y":4020,"wires":[]},{"id":"e74a4171.1b93f","type":"ui_gauge","z":"78d918a6.6eabf8","name":"","group":"67c7ae27.49a1b","order":5,"width":6,"height":4,"gtype":"gage","title":"Leche Producida","label":"Litros","format":"{{value}}","min":"1","max":"40","colors":["#b52724","#e6e600","#1aca18"],"seg1":"","seg2":"","x":730,"y":4120,"wires":[]},{"id":"a55266c.20fe398","type":"ui_dropdown","z":"78d918a6.6eabf8","name":"","label":"","tooltip":"","place":"Select option","group":"67c7ae27.49a1b","order":1,"width":8,"height":1,"passthru":true,"options":[{"label":"Vaca 1","value":"vaca1","type":"str"},{"label":"Vaca 2","value":"vaca2","type":"str"},{"label":"Vaca 3","value":"vaca3","type":"str"},{"label":"Vaca 4","value":"vaca4","type":"str"},{"label":"Vaca 5","value":"vaca5","type":"str"},{"label":"Vaca 6","value":"vaca6","type":"str"},{"label":"Vaca 7","value":"vaca7","type":"str"},{"label":"Vaca 8","value":"vaca8","type":"str"},{"label":"Vaca 9","value":"vaca9","type":"str"},{"label":"Vaca 10","value":"vaca10","type":"str"}],"payload":"","topic":"","x":290,"y":4080,"wires":[["22dabffe.c9ff","cb148346.14344","5f12bd83.8cbc64","e97c0d8d.5066f","ffded96d.6ad448"]]},{"id":"c7fd007e.8a9bf","type":"ui_gauge","z":"78d918a6.6eabf8","name":"","group":"67c7ae27.49a1b","order":4,"width":6,"height":4,"gtype":"gage","title":"Temperatura","label":"º C","format":"{{value}}","min":"30","max":"40","colors":["#0a56f4","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":4080,"wires":[]},{"id":"9a77766e.bbda68","type":"ui_gauge","z":"78d918a6.6eabf8","name":"","group":"67c7ae27.49a1b","order":14,"width":6,"height":4,"gtype":"gage","title":"Peso","label":"kg","format":"{{value}}","min":"300","max":"450","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":4160,"wires":[]},{"id":"22dabffe.c9ff","type":"function","z":"78d918a6.6eabf8","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.temp\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4080,"wires":[["c7fd007e.8a9bf"]]},{"id":"cb148346.14344","type":"function","z":"78d918a6.6eabf8","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.leche\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4120,"wires":[["e74a4171.1b93f"]]},{"id":"5f12bd83.8cbc64","type":"function","z":"78d918a6.6eabf8","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.peso\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4160,"wires":[["9a77766e.bbda68"]]},{"id":"e97c0d8d.5066f","type":"function","z":"78d918a6.6eabf8","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.dist\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4200,"wires":[["a4cd28.aee1d2d8"]]},{"id":"a4cd28.aee1d2d8","type":"ui_gauge","z":"78d918a6.6eabf8","name":"","group":"67c7ae27.49a1b","order":15,"width":6,"height":4,"gtype":"gage","title":"Distancia recorrida","label":"km","format":"{{value}}","min":"1","max":"5","colors":["#b51315","#e6e600","#0cca13"],"seg1":"","seg2":"","x":730,"y":4200,"wires":[]},{"id":"a3422c62.3ad7e","type":"ui_text","z":"78d918a6.6eabf8","group":"67c7ae27.49a1b","order":2,"width":8,"height":1,"name":"","label":"Estado","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":700,"y":4240,"wires":[]},{"id":"ffded96d.6ad448","type":"function","z":"78d918a6.6eabf8","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.color=\"green\"\nif(vaca.estado==\"NOK\"){\n    msg.color=\"red\"\n}\nmsg.payload=vaca.estado\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4240,"wires":[["a3422c62.3ad7e"]]},{"id":"36082b0b.0ff1e4","type":"ui_text","z":"78d918a6.6eabf8","group":"989ce317.cee99","order":8,"width":8,"height":1,"name":"","label":"Estado de Vacas","format":"","layout":"row-spread","x":130,"y":4300,"wires":[]},{"id":"989ce317.cee99","type":"ui_group","z":"","name":"Informacion General de la Granja","tab":"75fd633a.7c9c1c","order":1,"disp":true,"width":16,"collapse":false},{"id":"67c7ae27.49a1b","type":"ui_group","z":"","name":"Informacion especifica de vacas","tab":"75fd633a.7c9c1c","order":2,"disp":true,"width":16,"collapse":true},{"id":"75fd633a.7c9c1c","type":"ui_tab","z":"","name":"Granjas","icon":"dashboard","order":1,"disabled":false,"hidden":false}]